# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Angular / Node.js
node_modules/
dist/
.angular/
coverage/
tmp/
out-tsc/
bazel-out/

# Node logs
npm-debug.log
yarn-error.log

# Angular / tooling
.sass-cache/
connect.lock
testem.log
typings/
__screenshots__/

# IDE
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# System files
.DS_Store
Thumbs.db

# Logs
*.log