# Environment variables
.env
.env.example

# Python virtual environments
.venv/
.venv_bwrbngmngr/

# Python cache / temporary files
__pycache__/
*.py[cod]
*$py.class

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# IDE / editor settings
.vscode/
.idea/

# Django
db.sqlite3